# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=""
DB_NAME=arabic_love_verses

# Port du serveur
PORT=5000

# Clé API utilisée pour sécuriser les requêtes
API_KEY=Apc1cwNz5@9
